@keyframes hoverme {
  0% {
      transform: scale(1.0);
  }
  100% {
      transform: scale(1.1);
  }
}

.form > textarea{
	max-width: 550px;
	border-radius: 4px;
	padding: 10px 0;
	font-size: 2rem;
	margin: 0 auto;
	width: 100%;
	margin-bottom: 20px;
}

.form > a {
  border: solid grey 2px;
  background-color: grey;
  font-size: 2.5rem;
  width: 250px;
  margin: 0 auto;
  margin-top: 10px;
  padding: 1%;
  text-align: center;
  color: #e3e1e1;
  background-color:#212931;
}

.form > a:hover {
	background-color: #e3e1e1;
	color:#212931;
}

.form > input {
	max-width: 450px;
	max-width: 550px;
	width: 100%;
	margin: 0 auto;
	margin-bottom: 10px;
	border-radius: 4px;
	padding: 10px 0;
	font-size: 2rem;
}

.form {
	padding-top: 40px;
	padding-bottom: 20px;
	max-width: 700px;
	margin: 0 auto;
	border-radius: 2px;
	margin-bottom: 20px;
	display: flex;
	flex-direction: column;
}

.tab-list {
	display: flex;
	font-size: 2rem;
	list-style-type: none;
	justify-content: center;
	padding-top: 70px;
}

.sub-tab {
	border: solid black 1px;
	padding: 2%;
	border-radius: 4px;
	margin-right: 2%;
	width: 150px;
	text-align: center;
	background-color: white;
}

.selected {
	border: solid black 1px;
	padding: 2%;
	background-color: grey;
	border-radius: 4px;
	margin-right: 2%;
	width: 150px;
	text-align: center;
}

@media (max-width: 700px){
	.form {
		margin: 0 auto;
		margin-bottom: 20px;
	}
	.form > input {
		max-width: 600px;
		margin: 0 auto;
		margin-bottom: 10px;
	}
	.form > textarea{
		max-width: 600px;
	}
}

@media (max-width: 700px){
	.form > textarea{
		margin-bottom: 20px;
	}
}

@media (max-width: 500px){
	.tab-list {
		flex-direction: column;
		width: 100%;
	}
	.sub-tab {
		width: 88%;
		font-size: 3rem;
		margin-left: 3.5%;
	}
	.selected {
		width: 88%;
		font-size: 3rem;
		margin-left: 3.5%;
	}
}

