.github {
	width: 50px;
	height: 50px;
}

.linkin {
	width: 50px;
	height: 50px;
}

.me {
	margin-left: 1.5%;
	width: 40%;
	height: 40%;
	border-radius: 8px;
}

.dance {
	width: 50%;
	height: 50%;
	margin-right: 2%;
	margin-bottom: 70px;
	border-radius: 8px;
}

.map {
	width: 48%;
	height: 48%;
	margin-left: 2%;
	padding-bottom: 30px;
	border-radius: 8px;
}

.form {
	display:flex;
	flex-direction: column;
	color: black;
	font-size: 2rem;
	width: 50%;
	padding: 0 3%;
}

.form a {
	color: black;
}

.form textarea {
	font-size: 2rem;
}

.form input{
	height: 25px;
  font-size: 2rem;
}

.college {
	width: 50%;
	height: 50%;
	margin-left: 3%;
	border-radius: 8px;
	padding-bottom: 30px;
}

@media only screen and (max-width: 1180px){
	.me {
		display: none;
	}
	.dance {
		display: none;
	}
	.map {
		display: none;
	}
	.college {
		display: none;
	}
}

@media only screen and (max-width: 700px){
	.form {
		width: 93%;
		margin: 0 auto;
	}
}

@media only screen and (max-width: 500px){
	.me {
		width: 96%;
		display: block;
		padding: 2%;
		margin: 0 auto;
		margin-bottom: 15px;
	}
	.dance {
		width: 100%;
		display: block;
		margin: 0 auto;
	}

	.map {
		width: 100%;
		display: block;
		margin: 0 auto;
		margin-top: 15px;
	}
	.college {
		display: block;
		margin: 0;
		margin-bottom: 15px;
		width: 100%;
	}
}